USE [QLRCP]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[TenDangNhap] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](32) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[Quyen] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[THANHVIEN] ([TenDangNhap], [MatKhau], [Ten], [GioiTinh], [NgaySinh], [DienThoai], [Email], [Quyen]) VALUES (N'user1', N'123qwe', N'Nguyễn Văn A', N'Nam', CAST(0x0000878A00000000 AS DateTime), N'0123456789', N'user1@gmail.com', N'user')
INSERT [dbo].[THANHVIEN] ([TenDangNhap], [MatKhau], [Ten], [GioiTinh], [NgaySinh], [DienThoai], [Email], [Quyen]) VALUES (N'user2', N'123qwe', N'Nguyễn Thị B', N'Nữ', CAST(0x000088F700000000 AS DateTime), N'0918273645', N'user2@gmail.com', N'admin')
INSERT [dbo].[THANHVIEN] ([TenDangNhap], [MatKhau], [Ten], [GioiTinh], [NgaySinh], [DienThoai], [Email], [Quyen]) VALUES (N'user3', N'123qwe', N'Trần Văn A', N'Nam', CAST(0x00008A6500000000 AS DateTime), N'0987654321', N'user3@gmail.com', N'admin')
/****** Object:  Table [dbo].[PHONG]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[SoPhong] [nvarchar](10) NOT NULL,
	[ViTri] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PHONG] ([SoPhong], [ViTri]) VALUES (N'P01', N'T01')
INSERT [dbo].[PHONG] ([SoPhong], [ViTri]) VALUES (N'P02', N'T01')
INSERT [dbo].[PHONG] ([SoPhong], [ViTri]) VALUES (N'P03', N'T02')
/****** Object:  Table [dbo].[PHIM]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MaPhim] [nvarchar](10) NOT NULL,
	[TenPhim] [nvarchar](200) NOT NULL,
	[NgayKhoiChieu] [datetime] NOT NULL,
	[ThoiLuong] [int] NOT NULL,
	[DienVien] [nvarchar](300) NOT NULL,
	[DaoDien] [nvarchar](50) NOT NULL,
	[TheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](3000) NOT NULL,
	[Anh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PHIM] ([MaPhim], [TenPhim], [NgayKhoiChieu], [ThoiLuong], [DienVien], [DaoDien], [TheLoai], [MoTa], [Anh]) VALUES (N'PHIM03', N'Quái thú vô hình (2D) - C18', CAST(0x0000A95B00000000 AS DateTime), 100, N'Sterling K. Brown, Boyd Holbrook', N'Shane Black', N'Hành động, Khoa học viễn tưởng', N'Những thợ săn bí ẩn từ không gian bỗng xuất hiện ở Trái Đất. Chính quyền cử một đội đặc nhiệm truy tìm và lùng bắt những thợ săn này nhưng liệu ai mới thật sự là kẻ đi săn. Bí ẩn về giống loài tiên tiến này dần được hé lộ.', N'Quái thú vô hình (2D) - C18.jpg')
/****** Object:  Table [dbo].[LICHCHIEUPHIM]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHCHIEUPHIM](
	[MaLichChieu] [nvarchar](10) NOT NULL,
	[NgayChieu] [datetime] NOT NULL,
	[GioChieu] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
	[MaPhim] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LICHCHIEUPHIM] PRIMARY KEY CLUSTERED 
(
	[MaLichChieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LICHCHIEUPHIM] ([MaLichChieu], [NgayChieu], [GioChieu], [SoPhong], [MaPhim]) VALUES (N'LICH01', CAST(0x0000A96000000000 AS DateTime), N'9:00', N'P01', N'PHIM01')
INSERT [dbo].[LICHCHIEUPHIM] ([MaLichChieu], [NgayChieu], [GioChieu], [SoPhong], [MaPhim]) VALUES (N'LICH02', CAST(0x0000A96000000000 AS DateTime), N'12:00', N'P01', N'PHIM02')
INSERT [dbo].[LICHCHIEUPHIM] ([MaLichChieu], [NgayChieu], [GioChieu], [SoPhong], [MaPhim]) VALUES (N'LICH03', CAST(0x0000A96000000000 AS DateTime), N'15:00', N'P01', N'PHIM03')
/****** Object:  Table [dbo].[GHE]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[SoGhe] [nvarchar](10) NOT NULL,
	[KieuGhe] [nvarchar](20) NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__GHE__278288CB37A5467C] PRIMARY KEY CLUSTERED 
(
	[SoGhe] ASC,
	[SoPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GHE] ([SoGhe], [KieuGhe], [SoPhong]) VALUES (N'A1', N'Ghế đôi', N'P01')
INSERT [dbo].[GHE] ([SoGhe], [KieuGhe], [SoPhong]) VALUES (N'A1', N'Ghế đôi', N'P02')
INSERT [dbo].[GHE] ([SoGhe], [KieuGhe], [SoPhong]) VALUES (N'A1', N'Ghế đôi', N'P03')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [dbo].[VE]    Script Date: 01/13/2019 21:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaVe] [nvarchar](10) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[GioDat] [nvarchar](10) NOT NULL,
	[TrangThai] [nvarchar](15) NOT NULL,
	[TenDangNhap] [nvarchar](20) NOT NULL,
	[MaLichChieu] [nvarchar](10) NOT NULL,
	[SoGhe] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VE] ([MaVe], [NgayDat], [GioDat], [TrangThai], [TenDangNhap], [MaLichChieu], [SoGhe], [SoPhong]) VALUES (N'VE01', CAST(0x0000A96000000000 AS DateTime), N'9:00', N'THANH CONG', N'user1', N'LICH01', N'A1', N'P01')
INSERT [dbo].[VE] ([MaVe], [NgayDat], [GioDat], [TrangThai], [TenDangNhap], [MaLichChieu], [SoGhe], [SoPhong]) VALUES (N'VE02', CAST(0x0000A96100000000 AS DateTime), N'10:00', N'THANH CONG', N'user2', N'LICH02', N'A2', N'P02')
INSERT [dbo].[VE] ([MaVe], [NgayDat], [GioDat], [TrangThai], [TenDangNhap], [MaLichChieu], [SoGhe], [SoPhong]) VALUES (N'VE03', CAST(0x0000A96200000000 AS DateTime), N'11:00', N'THANH CONG', N'user3', N'LICH03', N'A3', N'P03')
/****** Object:  ForeignKey [FK__PHONG_GHE]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK__PHONG_GHE] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[PHONG] ([SoPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK__PHONG_GHE]
GO
/****** Object:  ForeignKey [FK__PHIM_LICHCHIEUPHIM]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[LICHCHIEUPHIM]  WITH CHECK ADD  CONSTRAINT [FK__PHIM_LICHCHIEUPHIM] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MaPhim])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHCHIEUPHIM] CHECK CONSTRAINT [FK__PHIM_LICHCHIEUPHIM]
GO
/****** Object:  ForeignKey [FK_LICHCHIEUPHIM_PHONG]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[LICHCHIEUPHIM]  WITH CHECK ADD  CONSTRAINT [FK_LICHCHIEUPHIM_PHONG] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[PHONG] ([SoPhong])
GO
ALTER TABLE [dbo].[LICHCHIEUPHIM] CHECK CONSTRAINT [FK_LICHCHIEUPHIM_PHONG]
GO
/****** Object:  ForeignKey [FK__GHE_VE]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK__GHE_VE] FOREIGN KEY([SoGhe], [SoPhong])
REFERENCES [dbo].[GHE] ([SoGhe], [SoPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK__GHE_VE]
GO
/****** Object:  ForeignKey [FK__LICHCHIEUPHIM_VE]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK__LICHCHIEUPHIM_VE] FOREIGN KEY([MaLichChieu])
REFERENCES [dbo].[LICHCHIEUPHIM] ([MaLichChieu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK__LICHCHIEUPHIM_VE]
GO
/****** Object:  ForeignKey [FK__THANHVIEN_VE]    Script Date: 01/13/2019 21:07:40 ******/
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK__THANHVIEN_VE] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[THANHVIEN] ([TenDangNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK__THANHVIEN_VE]
GO
